extends layout.pug


block content

  .top5
    .man.man--1
      .man__photo
        img(src="./img/1-steel.png")
      .man__container
        .man__name Георгий Сунцов
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat minus hic facilis pariatur suscipit beatae at provident nisi dicta laudantium facere incidunt rerum dolorum odio aliquid vero repellat, officiis quia.
    .man.man--2
      .man__photo
        img(src="./img/2-steel.png")
      .man__container
        .man__name Дмитрий MAUZER
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reiciendis quos commodi laborum perferendis rem nam alias nulla nostrum adipisci neque beatae eaque vitae aut corrupti impedit ut, necessitatibus. Rem.
    .man.man--3
      .man__photo
        img(src="./img/3-steel.png")
      .man__container
        .man__name Валентин Гиннес
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sed velit possimus esse explicabo, quas corrupti et earum id porro cum, distinctio ipsa adipisci alias iste doloribus molestiae incidunt natus.
    .man.man--4
      .man__photo
        img(src="./img/4-steel.png")
      .man__container
        .man__name Роман Громов
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum veniam voluptates illo expedita laudantium, magni dolorem voluptatibus! Culpa similique dolore architecto totam, ullam molestiae nobis cum consequatur, rerum. Similique, quidem!
    .man.man--5
      .man__photo
        img(src="./img/5-steel.png")
      .man__container
        .man__name Артем Костенко
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quibusdam culpa, aliquid, adipisci tenetur, atque natus distinctio praesentium amet quas autem possimus sit laudantium explicabo blanditiis, libero quaerat provident pariatur?





