$main = #111
$gray = #aaa
$light-gray = #eee
$dark-gray = #777
$primary = #1A82CB
$special = #f6fafd
$yellow = #FFE86E
$green = #4FC01E
$red = #EA5757
$icon-color = #959CA4

$error = $primary

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$google-plus = #dd4b39
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid #eee
$shadow = 0 12px 32px 0 rgba($gray, .3)
$shadow-small = 0 4px 24px 0 rgba($gray, .5)
$radius = 3px

$main-padding = 8rem 0
$main-offset = 8rem

$container-width = 1542

$font = 'Roboto', 'Arial', 'Helvetica', sans-serif