// body
//   debug()

@media(max-width 1200px)
  .grid.grid--container
    padding 0 1.6rem


@media(max-width 767px)
  .grid.grid--container
    padding 0 .5rem
  .row
    margin 0 -.5rem 1rem -.5rem
  .col
    padding 0 .5rem