.modal
  animation bigFadeUp .3s forwards ease
  background #fff
  box-shadow 0 1rem 2rem rgba($main, .1)
  border-radius $radius
  display none
  margin 4rem auto
  position relative
  width 72rem
  &__title
    background-color rgba($primary, .08)
    font-size 1.6rem
    line-height 1
    padding 2.4rem 3.2rem
  &__plate
    background-color $light-gray
    margin-left -4rem
    margin-right -4rem
    margin-bottom 3.2rem
    margin-top -1.6rem
    padding 1.6rem 4rem
  &__container
    padding 3.2rem
  &--small
    width 40rem

.mfp-ready
  .modal
    display block

.mfp-close-btn-in .mfp-close,
.mfp-close-btn-in .mfp-close:active
  // background-color $primary
  circle(4rem)
  color rgba($main, .8)
  font-size 3.2rem
  font-weight 300
  opacity 1
  padding 0
  text-align center
  top .8rem
  right 2.4rem


.open-image
  display block

.mfp-gallery .mfp-close,
.mfp-gallery .mfp-close:active
  color #fff
  right -5.6rem
  top 2.8rem

.form-control + .thumbnail
  margin-top 2.4rem

.thumbnail
  border 2px dashed rgba($primary, .2)
  display block
  margin-bottom 2.4rem
  padding 8rem 0
  text-align center
  .svg
    margin-bottom 2.4rem

  

@media(max-width 768px)
  .modal
    width 98%
    &__title
      padding 2.4rem 1.6rem
    &__container
      padding 2.4rem 1.6rem
  .mfp-close-btn-in .mfp-close,
  .mfp-close-btn-in .mfp-close:active
    right .8rem
