@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/ui.styl'
@import 'base/table.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/icons.styl'
@import 'base/modal.styl'

@import 'components/showmans.styl'

@import 'modifications/modifications.styl'


// .grid--container
//   max-width 1540px

// .grid--container
//   max-width initial
//   padding 0 (184 / 1900 * 100)%

body
  background-color #fff


@import 'base/media.styl'


